@import url("https://fonts.googleapis.com/css?family=Montserrat");

$the-font:"Montserrat";
$accent-color:rgb(114, 196, 151);
$secondary-color:#05386B;
$light-green:#AAD39E;

.color{
    background-color:red;
}

body{
    font-family:$the-font;
}

.align-left{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.inputfield{
    border:none;
    width:50%; 
    padding: 0.1em 0em 1px 5px; 
    border: none; 
    border-radius: 0px; 
    border-bottom: 1px solid #aaa; 
    outline: none; 
    margin: 0px; 
    background: none;
}

.inputfield:focus{
    border-bottom: 2px solid $accent-color;
}

.bg-div-1{
    display: absolute;
    width:33vw;
    min-height:130vh;
    background-color:$accent-color; 
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.bg-div-2{
    display: absolute;
    width:66vw;
    height:120vh;
    background-color:$accent-color;
    position: absolute;
    top: 0;
    right:0;
    z-index: -100;

}

// .body1{
//     background: linear-gradient(90deg, white 66%, $accent-color 66%);
//     min-height: 100vh;
// }
// .body2{
//     background: linear-gradient(90deg, white 33%, $accent-color 33%);
//     min-height: 100vh;
// }
#not_found{
    min-height:90vh;
    
}

.navbar{
    background: transparent; 
    .nav{
        
        border:none;
        .links{  
            color:white;
            font-size: 16px;
            text-decoration: none;
            padding:25px 40px 20px;
            font-weight: normal;
            background:none;
            outline:none;
            border:none;
        }
        .links:hover{
            background:transparent;
            border:none;    
            color:$secondary-color;
            cursor: pointer;
        }
        .links:focus{
            background:none;
            border:none;
            outline:none;
        }
    }
    .logo{
        
        padding-left: 60px;
        .logo-link{
            text-decoration: none;
            color:$accent-color;
        }
        .logo-link:hover{
            color:$secondary-color;
        }
    }
}

.text-link{
    color:$accent-color;
}
.text-link:hover{
    text-decoration: none;
    color:$light-green;
}

.btn-1{
    width:80px;
    color:white;
    border-radius: 20px;
    background-color: $accent-color;
    border:none;
}
.btn-1:hover,
.btn-block:hover{
    background-color: $light-green;
    color: white;
}
.btn-1:active,
.btn-1:focus{
    background-color: #3EA36B;
    color:white;
    outline:none;
    border:none;
}

.btn-block{
    width:100%;
    color:white;
    border-radius: 20px;
    background-color: $accent-color;
    border:none;
}

.signup-link{
    padding: 5px;
}

//input 
.float-label-control input { 
    display: block; 
    padding: 0.1em 0em 1px 0em; 
    border: none; 
    border-radius: 0px; 
    border-bottom: 1px solid #aaa; 
    outline: none; 
    margin: 0px; 
    background: none; 
}
.float-label-control input:focus { 
    box-shadow: none; 
    border-bottom: 2px solid $accent-color;
    padding-bottom: 0; 
}

.float-label-control input { 
    background-color: transparent !important; 
    -webkit-box-shadow: 0 0 0 1000px white inset !important; 
    -moz-box-shadow: 0 0 0 1000px white inset !important; 
    box-shadow: 0 0 0 1000px white inset !important; 
}

.form-line{
    width:100%;
}

.input-group .input-group-addon .icon {
    font-size: 22px;
    padding-left:0;
}
.input-group-addon{
    background: transparent;
    border:none;
}

.login-page{
    .login{
        padding:100px 60px;
    }
}
.row-center{
    padding:10px 0 10px 0;
    height:150%;
    .center-div{
        padding-top:5px;
    }
}

.icon{
    color: $accent-color;
    padding: 5px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.heading{
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 40pt;
    text-align: left;   
    color:$accent-color;
}

.page-body{
    height: 90vh;
    padding:100px 50px 0px;
    width : 50vw;
}

//dashboard
.dashboard{
    padding:30px 45px;
    
}
.dashtab{
    width:60vw;
}
//dashboard-tabs(inactive)
.dashtab ul > li {
    background-color:none;
}
.dashtab ul > li > a{
    text-decoration: none;
    color:#b9b9b9;
}
.dashtab ul > li > a:hover {
    color:$secondary-color;
    background:none;
    border:none;
}

.dashtab ul > li > a:focus:active{
    outline:none;
    border:none;
}
//dashboard-tabs(active)
.dashtab ul > li.active > a,
.dashtab ul > li.active > a:hover,
.dashtab ul > li.active > a:focus {
    background-color:transparent;
    border-bottom:2px solid $accent-color;
    color:$accent-color;
    border-left:none;
    border-top:none;
    border-right:none;
}
.searchbar{
    padding: 15px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    .sb-field{
        width:93%;
        display: relative;
        left: 20px;
    }
}
//form
.form{
    
    text-align:center;
    padding:100px 5px;
    h1{
        font-size:24px;
        text-align:center;
        color: $accent-color;
    }
    p{
        text-align:center;
        color: $secondary-color;
    }
    .right-border{
        border-right:thin solid #dddddd;
    }

    .formbtn{
        margin:15px;
        text-align: center;
    }     
    .addfield {
        padding:10px 0px;
        max-width:30vw;
    } 
    .formgrid{
        width:100%;
        height:50vh;
    }
    .addicon{
        display:none;
    }       
    .plusicon{
        font-size:90px;
        color:$accent-color;        
    }
    .plusicon:hover{
        color:$light-green;
    }
}

//home page
.home-buttons{
    padding-top: 20px;
    padding-left:10px;
    .home-btn{
        margin-right:20px;
    }
    
}
.home-img{
    width:30vw;
    display:block;
    position:absolute;
    bottom:-20px;
    right: 10vw;
}

//overview
.overview{
    display: fixed;
    width:33vw;
    min-height:60vh;
    position: absolute;
    top: 200px;
    right: 0px;
    padding: 100px 20px; 
}
.overgrid{
    width :30vw;
    padding:20px;
    padding-left: 100px;
    font-size: 20px;
    .overfield{
        padding: 5px;
        .overlabel{
            color: $secondary-color;    
        }
        .value{
            color: white;
        }
    }
}

//medical-history
.med-history{
    width:100%;
    .box-row{
        width:60vw;
        .table{
            position:absolute;
            top:5px;
        }    
        .box{

            margin-bottom:45px;
            width:18vw;
            min-height: 150px;
            margin-right:-50px;
            border:1px solid $light-green;
            .box-child{
                position:relative;
                left:40px;

            }
        }
    }
}
//documents-upload
.file-upload{
    display: inline-block;
    margin:20px;
    width:20vw;;
    height: 40vh;
    border: 1px solid $light-green;
    .child{
        position:relative;
        left:30px;
    }
}
//addbutton
.add{
    position: relative;
    right:50px;
    top:5px
}
//profile
.pro-grid{
    padding:20px 20px 20px;

    .pro-field{
        padding:20px;
    }

}
//searchbar
.search-body{
    min-height:100px;
}
.footer{
    background-color: #05386B;
    padding:50px 60px;
    .top-bar{
        margin-left:10px;
        .social{
            padding:0 25px 0px 0px;
            font-size:30px;
            color: white;
        }
        .social:hover{
            color: $accent-color;
        }  

    }
    .right-bar{
        padding:50px 60px;
    }
    .footer-list{
        float: right; 
    }
    .footer-head{
        color:$accent-color;

        font-weight: normal;
        font-size: 18px;
    }
    .footer-link{
        color:white;
        font-size: 18px;
    }
    .footer-link:hover{
        color:$light-green;
        cursor: pointer;
    }
}    